@charset "utf-8";
/* CSS Document */

#wrap{width:100%;}
#header{}

/* banner */
#banner{width: 100%; overflow: hidden;} 
#banner img{width: 100%;}

#banner .banner_inner li{color: #fff;}
#banner .banner_inner a{color:#2997ff;}



/* contents */

#content1{width: 100%; overflow: hidden; margin-top: 200px;}
#content1 img{width: 100%;}

#content2_pc , #content2_tablet, #content2_mobile {width: 100%; overflow: hidden; margin-top: 200px;}
#content2_pc img , #content2_tablet img, #content2_mobile img{width: 100%;}



#content2_pc li, #content2_tablet li, #content2_mobile li{position: absolute; color: #fff;}
#content2_pc li a, #content2_tablet li a, #content2_mobile li a{color:#2997ff;}
#content2_pc a:hover, #content2_tablet a:hover, #content2_mobile a:hover{text-decoration: underline;}
